# Lab 3: Data Engineering & EDA with Python, SQL, and Pandas

**Student Name:** Ali Cihan Ozdemir
**Student ID:** 9091405
**Group Partner:** Roshan

## Objective
This notebook demonstrates a complete data engineering pipeline: connecting to a cloud PostgreSQL database (Neon), extracting raw "dirty" data, cleaning and transforming it using Pandas, and performing advanced exploratory data analysis (EDA) and visualization.

---

## Part 1: Data Extraction & Inspection

In [ ]:
import pandas as pd
import numpy as np
import psycopg2
import matplotlib.pyplot as plt
import seaborn as sns
from sqlalchemy import create_engine

# Set aesthetic style
sns.set_style("whitegrid")
plt.rcParams['figure.figsize'] = (10, 6)

# Database Configuration
DB_URL = "postgresql://neondb_owner:npg_a2cfwEmDp5ig@ep-noisy-grass-ai9zgc4l-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require"

# Load the data from two separate tables
def get_table_data(table_name):
    try:
        conn = psycopg2.connect(DB_URL)
        query = f"SELECT * FROM {table_name}"
        df = pd.read_sql_query(query, conn)
        conn.close()
        return df
    except Exception as e:
        print(f"Error fetching {table_name}: {e}")
        return pd.DataFrame()

df_raw = get_table_data('employees')
df_dept = get_table_data('departments')

df = df_raw.copy()
print(f"Employees Data Loaded: {df.shape}")
print(f"Departments Data Loaded: {df_dept.shape}")
df.head()

## Part 2: Data Cleaning & Wrangling

### Data Collection & Cleaning Narrative
Our database now contains two related tables: `employees` and `departments`. The `employees` table has a Foreign Key `dept_id` linking to the `departments` table. We still observe the "Dirty 20%" issues we simulated:

1.  **Missing Values:** `name` and `salary` fields have NULLs.
2.  **Inconsistent Casing:** Job titles like "software engineer" mixed with "Software Engineer".
3.  **Logic Errors:** Dates way in the past (<2015) or future (>2024).

**Cleaning Strategy:**
-   **Imputation:** We will start by filling missing salaries with the median salary of their respective positions.
-   **Standardization:** We will convert all `position` strings to Title Case.
-   **Handling Logic Errors:** We'll filter or correct the dates.

In [ ]:
# 1. Identify Missing Values
print("--- Missing Values Before Cleaning ---")
print(df.isnull().sum())

# 2. Standardize Job Titles (to ensure grouping works for imputation)
df['position'] = df['position'].str.title()
print("\n--- Job Titles Standardized ---")

# 3. Impute Missing Salaries (Position-based Median)
# Calculate median salary per position
position_medians = df.groupby('position')['salary'].transform('median')
# Fill NaNs
df['salary'] = df['salary'].fillna(position_medians)

# Fill missing names (Optional, but good for completeness)
df['name'] = df['name'].fillna("Unknown Employee")

# Verify cleaning
print("\n--- Missing Values After Cleaning ---")
print(df.isnull().sum())

### Transformation & Feature Engineering
We need to extract meaningful features from the raw data. 
- **Start Year**: Extracted from the `start_date`.
- **Years of Service**: Calculated as effectively `2024 - start_year` (or dynamic based on current date).
- **Logic Filters**: Removing entries with invalid years (<2015 or >2024).

In [ ]:
# Convert start_date to datetime
df['start_date'] = pd.to_datetime(df['start_date'])

# Feature Engineering
df['start_year'] = df['start_date'].dt.year
current_year = 2024 # Fixed reference year for the lab
df['years_of_service'] = current_year - df['start_year']

# Logic Check: Filter out invalid years
valid_years_mask = (df['start_year'] >= 2015) & (df['start_year'] <= 2024)
df_clean = df[valid_years_mask].copy()

print(f"Rows before logic filter: {len(df)}")
print(f"Rows after logic filter: {len(df_clean)}")

df_clean.head()

### Neural Scaling (Z-Score Standardization)
**Why Z-Score?**
In Machine Learning, especially for Neural Networks ("Neural Engines"), input features must be on a similar scale. Large magnitude values (like Salary: 80,000) can dominate small magnitude values (like Years of Experience: 5), causing weight bias and slow convergence. 

Z-score standardization transforms the data to have a mean of 0 and a standard deviation of 1, ensuring the model treats all features equally.

$$ z = \frac{x - \mu}{\sigma} $$

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
df_clean['salary_scaled'] = scaler.fit_transform(df_clean[['salary']])

# Visualize the effect of scaling
fig, ax = plt.subplots(1, 2, figsize=(15, 5))
sns.histplot(df_clean['salary'], kde=True, ax=ax[0], color='skyblue').set_title('Original Salary Distribution')
sns.histplot(df_clean['salary_scaled'], kde=True, ax=ax[1], color='orange').set_title('Scaled Salary (Z-Score) Distribution')
plt.show()

## Part 3: Visual Intelligence Challenge

In [ ]:
# 1. Grouped Bar Chart of Average Salary by Position
plt.figure(figsize=(14, 8))
# Calculate avg salary by Position and Start Year
grouped_data = df_clean.groupby(['position', 'start_year'])['salary'].mean().reset_index()

# Filter for top positions to keep chart readable if needed, or plot all
top_positions = df_clean['position'].value_counts().nlargest(5).index
grouped_data_filtered = grouped_data[grouped_data['position'].isin(top_positions)]

sns.barplot(data=grouped_data, x='start_year', y='salary', hue='position', palette='viridis')
plt.title('Average Salary by Position and Start Year', fontsize=16)
plt.xlabel('Start Year', fontsize=12)
plt.ylabel('Average Salary ($)', fontsize=12)
plt.legend(bbox_to_anchor=(1.05, 1), loc='upper left')
plt.tight_layout()
plt.show()

### Advanced Challenge: Departmental Analytics
Since we fetched the `departments` table separately from the database, we effectively have the raw components to perform a **SQL-Style Join** right here in Pandas. This mimics the Data Engineering process of enriching a transactional table (`employees`) with a dimension table (`departments`).

In [ ]:
# Perform SQL-style Join (Inner Join)
# employees.dept_id <---> departments.dept_id
merged_df = pd.merge(df_clean, df_dept, on='dept_id', how='inner')

print(f"Merged Data Shape: {merged_df.shape}")
print("Columns:", merged_df.columns.tolist())
merged_df.head()

In [ ]:
# Advanced Viz: FacetGrid showing Salary Distribution by Department
g = sns.FacetGrid(merged_df, col="dept_name", col_wrap=3, height=4, aspect=1.2, sharex=False)
g.map(sns.histplot, "salary", kde=True, color="teal")
g.set_titles("{col_name}")
g.fig.suptitle('Salary Distribution by Department', y=1.02, fontsize=16)
plt.show()

## Insights & Conclusions

1.  **Salary Trends**: Through the grouped bar chart, we can observe salary progressions for different positions over time. Generally, positions like "Data Scientist" and "Software Engineer" command higher starting salaries.
2.  **Data Quality Impact**: The initial "dirty" data (missing values, bad dates) required significant cleaning. Without imputation and logic filtering, our analysis would have been skewed by zero values or incorrect years.
3.  **Key Relationship Integration**: By joining the `employees` table with the `departments` table via `dept_id`, we successfully unpacked the department names (Engineering, Sales, etc.), proving that the data architecture is sound.
4.  **Scaling Necessity**: The Z-score visualization highlights how raw salary numbers (50k-150k) are transformed into a compact range (-2 to +2), which is essential for any downstream AI modeling.